<html>
<head>
	<title>Favorites</title>
	{{> header}}
	<!-- Linked css files -->
    <link href="/css/favorites.css" rel="stylesheet">
</head>
<body>
	<!-- bootstrap container for page content -->
	<div class="container">
		<!-- Back Button, Username -->
		<div class="backandname">
			<button type="button" onclick="goBack()" id="back">Back</button> 
			<center>
				<h2>Favorites</h2>
			</center>
			<p><b id="fromsource">From Spotify:</b></p>
		</div>
		<div class="timerangeselector">
				<input type="radio" id="short_term" name="time_range" value="short_term">
				<label for="short_term">Last 2 Weeks</label>
				<input type="radio" id="medium_term" name="time_range" value="medium_term" checked>
				<label for="medium_term">Last 6 Months</label>
				<input type="radio" id="long_term" name="time_range" value="long_term">
				<label for="long_term">All Time</label>
		</div>
		<div class="playlists"></div>
		<!-- Navbar Section -->
		<ul class="navbar">
			<li><a href="/userprofile">Account</a></li>
			<li><a href='/Friends'>Friends</a></li>
			<li><a href="/Statistics">Statistics</a></li>
			<li><a href='/Favorites/page_A' class="active">Favorites</a></li>
		</ul>
	</div>

	<!-- connected javascript files -->
	{{> footer}}
	<script>
		function goBack(){
			window.history.back();
		}
	</script>
	<script>
		(function () {

			/**
			 * Call Spotify API to get the top artists across a time range 
			 */
			function getTopArtists(time_range) {
				$('#favsmsg').hide();
				$('#fromsource').text("Top 50 Favorite Artists from Spotify");
				$('.playlists').hide();
				var artists_url = 'https://api.spotify.com/v1/me/top/artists?limit=50&time_range=' + time_range;
				$.ajax({
					url: artists_url,
					headers: {
						'Authorization': 'Bearer ' + localStorage.getItem("access_token")
					},
					success: function(response) {
						console.log(response);
						//update the artist image, hyper link, and names
						var i;
						var favArtists = "";
						for (i = 0; i < response.items.length; i++) { 
							var curr_src = response.items[i].external_urls.spotify;
							var curr_img = response.items[i].images[0].url;
							var curr_artist = response.items[i].name;
							if ((i % 2) == 0) {
								favArtists += '<div class="row"></div>';
							}
							favArtists += '<div class="Playlist" id="' + i + '">' + '<div class="thumbnail">' +
										'<a href="' + curr_src + '"><img src="' + curr_img + '"></a>' +
										'<a href="' + curr_src + '"><p>' + curr_artist + '</p></a>' +
										'</div></div>';
						}
						favArtists += '<div class="bigrow"></div>';
						$('.playlists').html(favArtists);
						$('.playlists').show();
					}
				});
			}

			/**
			 * Call Spotify API to get the playlists of the user
			 */
			function getPlaylists() {
				$('#favsmsg').hide();
				$('#fromsource').text("Playlists from Spotify");
				$('.timerangeselector').hide();
				$('.playlists').hide();
				//call get playlists api
				$.ajax({
					url: 'https://api.spotify.com/v1/me/playlists?',
					headers: {
						'Authorization': 'Bearer ' + localStorage.getItem("access_token")
					},
					success: function(response) {
						console.log(response);
						//update the artist image, hyper link, and names
						var i;
						var playlists = "";
						for (i = 0; i < response.items.length; i++) { 
							var curr_src = response.items[i].external_urls.spotify;
							var curr_img = response.items[i].images[0].url;
							var curr_artist = response.items[i].name;
							if ((i % 2) == 0) {
								playlists += '<div class="row"></div>';
							}
							playlists += '<div class="Playlist" id="' + i + '">' + '<div class="thumbnail">' +
										'<a href="' + curr_src + '"><img src="' + curr_img + '"></a>' +
										'<a href="' + curr_src + '"><p>' + curr_artist + '</p></a>' +
										'</div></div>';
						}
						playlists += '<div class="bigrow"></div>';
						$('.playlists').html(playlists);
						$('.playlists').show();
					}
				});
			}

			/**
			 * Populate the Favorites page!
			 */
			if (localStorage.getItem("access_token") == 'undefined') {				
				//no data yet
				$('#fromsource').text("No Favorites Yet :( Try connecting a Spotify account!");
				$('.playlists').hide();
				$('.timerangeselector').hide();
			} else {
				console.log("Ready for API calls for " + localStorage.getItem("favorites") + 
							" using the token" + localStorage.getItem("access_token"));

				if (localStorage.getItem("favorites") == 'artists') {
					//default value for time_range, used for artists
					var time_range = "medium_term";
					//let the user specify the time range they want their data from
					$('input[name="time_range"]').click( function () {
						console.log('Selected the time range: ' + $('input[name="time_range"]:checked').val());	
						time_range = $('input[name="time_range"]:checked').val();
						getTopArtists(time_range);
					});
					//call get top artists api
					getTopArtists(time_range);
				} else {
					//call get playlists api
					getPlaylists();
				}
			}
			
		})();
	</script>
</body>
</html>
