<html>
<head>
	<title>Friends</title>
	{{> header}}
	<!-- Linked css files -->
    <link href="/css/friends.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!-- Friends page -->
		<button type="button" onclick="goBack()" id="back">Back</button> 
		<h1 id="friends">Friends</h1>	
		<hr>
		<!-- Friends List -->
		<div class="friendslist">
		{{#each friends}}
			<img src="{{picture}}" class="img-responsive img-rounded">
			<h3>{{username}}</h3>
			<hr>
		{{/each}}
		</div>
		<!-- Navbar Section -->
		<ul class="navbar">
			<li><a href="/userprofile">Account</a></li>
			<li><a href='/Friends' class="active">Friends</a></li>
			<li><a href="/Statistics">Statistics</a></li>
			<li><a href='/Favorites/page_A'>Favorites</a></li>
		</ul>
		</div>
	</div>

	{{> footer}}
	<!-- connected javascript files -->
	<script src="/js/friends.js"></script>
	<script>
		function goBack(){
			window.history.back();
		}

		//TODO Samuel: Stretch goal, get some friends and followers
	</script>
</body>
</html>