<html>
<head>
	<title>J. Smith Friends</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Linked css files -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/friends.css" rel="stylesheet">
	<link href="/css/constants.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!-- Friends page -->
		<button type="button" onclick="goBack()" id="back">Back</button> 
		<h1 id="friends">Friends</h1>	
		<hr>
		<!-- Friends List -->
		<div class="friendslist">
		{{#each friends}}
			<img src="{{picture}}" class="img-responsive img-rounded">
			<h3>{{username}}</h3>
			<hr>
		{{/each}}
		</div>
		<!-- Navbar Section -->
		<ul class="navbar">
			<li><a href="/userprofile">Account</a></li>
			<li><a href='/Friends' class="active">Friends</a></li>
			<li><a href="/Statistics">Statistics</a></li>
			<li><a href='/Favorites'>Favorites</a></li>
		</ul>
	</div>
	</div>

	<!-- connected javascript files -->
	<script src="/js/jquery-1.11.0.js"></script>	
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/friends.js"></script>
	<script>
		function goBack(){
			window.history.back();
		}
	</script>
</body>
</html>