<html>
<head>
	<title>Friends</title>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-135692306-1', 'auto');
		ga('send', 'pageview');
	</script>
	{{> header}}
	<!-- Linked css files -->
    <link href="/css/friends.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!-- Friends page -->
		<button type="button" onclick="goBack()" id="back">Back</button> 
		<h1 id="friends">Friends</h1>	
		<hr>
		<!-- Friends List -->
		<div class="friendslist">
		{{#each friends}}
			<img src="{{picture}}" class="img-responsive img-rounded">
			<h3>{{username}}</h3>
			<hr>
		{{/each}}
		</div>
		<!-- Navbar Section -->
		<ul class="navbar">
			<li><a href="/userprofile">Account</a></li>
			<li><a href='/Friends' class="active">Friends</a></li>
			<li><a href="/Statistics">Statistics</a></li>
			<li><a href='/Favorites/page_A'>Favorites</a></li>
		</ul>
		</div>
	</div>

	{{> footer}}
	<!-- connected javascript files -->
	<script src="/js/friends.js"></script>
	<script>
		function goBack(){
			window.history.back();
		}

		//TODO Samuel: Stretch goal, get some friends and followers
	</script>
</body>
</html>