<html>
<head>
	<title>Team 1</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h3 id="username">{{username}}</h1>	
		<h1 id="title">Home</h1>
		<h2 class="function"><a href="{{username}}">Profile</a></h2><hr>
		<h2 class="function"><a href='{{username}}/Friends'>Friends</a></h2><hr>
		<h2 class="function"><a href="{{username}}/Discover">Discover</a></h2>
		<ul class="navbar">
			<li><a href=#home>Home</a></li>
			<li><a href=#home class="active">Account</a></li>
			<li><a href=#home>Friends</a></li>
			<li><a href=#home>Discover</a></li>
		</ul>
	</div>


	<script src="/js/jquery-1.11.0.js"></script>	
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
