<html>
<head>
	<title>Team 1</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1 id="username">{{username}}</h1>	
	</div>


	<script src="/routes/jquery-1.11.0.js"></script>	
	<script src="/routes/boostrap.js"></script>
	<script src="/routes/boostrap.min.js"></script>
</body>
</html>
