<html>
<head>
	{{> experiments }}
	<title>Login</title>
	{{> googleanalytics}}
	{{> header}}
	<!-- Linked css files -->
    <link href="/css/login.css" rel="stylesheet">
    <script>
        function login(){

        }
    </script>
</head>
<body>
	<div class="container">
		<h1 class="title">Muself</h1>
		<div style="text-align: center;">
			<div class="login-table">
			<div class="form-group">
				<label for="name">Username:</label>
				<br>
				<input type="text" class="form-control" id="username" placeholder name="name">
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<br>
				<input type="password" class="form-control" id="password" placeholder name="pswd">
			</div>
			{{#if favoritesAlt}}
				<form action="/userprofile" onsubmit="playlistFavs()">
					<input type="submit" value="Login">
				</form>
			{{else}}
				<form action="/userprofile" onsubmit="artistsFavs()">
					<input type="submit" value="Login">
				</form>
			{{/if}}
		</div>
		</div>
        <div style="text-align: center; padding: 20px;">
            <div id="FacebookLogin">
                <a href="/userprofile">
                <p class="facebookLogin" >
                    <fb:login-button scope="public_profile,email"
                                     onlogin="checkLoginState();">
                    </fb:login-button>
                </p>
                </a>
            </div>
        </div>
	</div>
	{{> footer}}
    {{> facebook}}
    <script src="/js/facebook.js"></script>
	<script>
		/*
		 * Make Favorites page contain Playlists 
		 */
		function playlistFavs() {
			localStorage.clear();
			localStorage.setItem("favorites", "playlists");
		}

		/*
		 * Make Favorites page contain Playlists 
		 */
		function artistsFavs() {
			localStorage.clear();
			localStorage.setItem("favorites", "artists");
		}
	</script>
</body>
</html>