<html>
<head>
	<title>Playlists</title>
	{{> header}}
	<!-- Linked css files -->
</head>
<body>
	<!-- bootstrap container for page content -->
	<div class="container">
		<!-- Back Button, Username -->
		<div class="backandname">
			<button type="button" onclick="goBack()" id="back">Back</button> 
			<center>
				<h2>Playlists</h2>
			</center>
			<p><b>Playlists from Spotify:</b></p>
		</div>
		<h1 id="favsmsg" style="display: none">No Playlists Yet :( Try connecting a Spotify account!</h1>
		<div class="playlists"></div>
		<!-- Navbar Section -->
		<ul class="navbar">
			<li><a href="/userprofile">Account</a></li>
			<li><a href='/Playlists/' class="active">Playlists</a></li>
			<li><a href="/Statistics/">Statistics</a></li>
			<li><a href='/Favorites/'>Favorites</a></li>
		</ul>
	</div>

	<!-- connected javascript files -->
	{{> footer}}
	<script>
		function goBack(){
			window.history.back();
		}
	</script>
	<script>
		(function () {

			/**
			 * Call Spotify API to get the playlists of the user
			 */
			function getPlaylists() {
				$('#favsmsg').hide();
				$('.playlists').hide();
				//call get playlists api
				$.ajax({
					url: 'https://api.spotify.com/v1/me/playlists?',
					headers: {
						'Authorization': 'Bearer ' + localStorage.getItem("access_token")
					},
					success: function(response) {
						console.log(response);
						//update the artist image, hyper link, and names
						var i;
						var playlists = "";
						for (i = 0; i < response.items.length; i++) { 
							var curr_src = response.items[i].external_urls.spotify;
							var curr_img = response.items[i].images[0].url;
							var curr_artist = response.items[i].name;
							if ((i % 2) == 0) {
								playlists += '<div class="row"></div>';
							}
							playlists += '<div class="Playlist" id="' + i + '">' + '<div class="thumbnail">' +
										'<a href="' + curr_src + '"><p>' + curr_artist + '</p></a>' +
										'<a href="' + curr_src + '"><img src="' + curr_img + '"></a>' +
										'</div></div>';
						}
						playlists += '<div class="bigrow"></div>';
						$('.playlists').html(playlists);
						$('.playlists').show();
					}
				});
			}

			//can use the same access_token!
			if (localStorage.getItem("access_token") == 'undefined') {				
				//no data yet
				$('.playlists').hide();
				$('#favsmsg').show();
                $('.navbar').show();
							
			} else {
				// load playlists
				getPlaylists();
			}
		})();
	</script>
</body>
</html>
