<html>
<head>
	<title>Playlists</title>
	{{> header}}
	<!-- Linked css files -->
</head>
<body>
	<!-- bootstrap container for page content -->
	<div class="container">
		<!-- Back Button, Username -->
		<div class="backandname">
			<button type="button" onclick="goBack()" id="back">Back</button> 
			<center>
				<h2>Playlists</h2>
			</center>
			<p><b>Playlists from Spotify:</b></p>
		</div>
		<h1 id="favsmsg" style="display: none">No Favorites Yet :( Try connecting a Spotify account!</h1>
		<div class="playlists"></div>
		<!-- Navbar Section -->
		<ul class="navbar">
			<li><a href="/userprofile">Account</a></li>
			<li><a href='/Playlists/' class="active">Playlists</a></li>
			<li><a href="/Statistics/">Statistics</a></li>
			<li><a href='/Favorites/'>Favorites</a></li>
		</ul>
	</div>

	<!-- connected javascript files -->
	{{> footer}}
	<script>
		function goBack(){
			window.history.back();
		}
	</script>
	<script>
		(function () {
			//can use the same access_token!
			if (localStorage.getItem("access_token") == 'undefined') {				
				//no data yet
				$('.playlists').hide();
				$('#favsmsg').show();
                $('.navbar').show();
							
			} else {
			 	console.log(localStorage.getItem("access_token"));
				console.log("Ready for API calls for " + localStorage.getItem("favorites"));
                localStorage.setItem("favorites", 'playlists');
				if (localStorage.getItem("favorites") == 'artists') {
					//call get top artists api
					$.ajax({
						url: 'https://api.spotify.com/v1/me/top/artists?limit=6',
						headers: {
							'Authorization': 'Bearer ' + localStorage.getItem("access_token")
						},
						success: function(response) {
							console.log(response);
							//update the artist image, hyper link, and names
							var i;
							for (i = 0; i < response.items.length; i++) { //request only made for 6 tracks
								var curr_src = response.items[i].external_urls.spotify;
								var curr_img = response.items[i].images[0].url;
								var curr_artist = response.items[i].name;
								$('#'+(i+1) + ' img').attr("src", curr_img);
								$('#'+(i+1) + ' a').attr("href", curr_src);
								$('#'+(i+1) + ' a p').text(curr_artist);
							}
							$('.playlists').show();
							$('#favsmsg').hide();
						}
					});
				} else {
					//call get playlists api
					$.ajax({
						url: 'https://api.spotify.com/v1/me/playlists?limit=6',
						headers: {
							'Authorization': 'Bearer ' + localStorage.getItem("access_token")
						},
						success: function(response) {
							console.log(response);
							//update the artist image, hyper link, and names
							var i;
							for (i = 0; i < 6; i++) { //request only made for 6 tracks
								var curr_src = response.items[i].external_urls.spotify;
								var curr_img = response.items[i].images[0].url;
								var curr_artist = response.items[i].name;
								$('#'+(i+1) + ' img').attr("src", curr_img);
								$('#'+(i+1) + ' a').attr("href", curr_src);
								$('#'+(i+1) + ' a p').text(curr_artist);
							}
							$('.playlists').show();
							$('#favsmsg').hide();
						}
					});

				}
			}
		})();
	</script>
</body>
</html>
