<html>
<head>
	<title>Statistics</title>
	{{> header}}
	<!-- Linked css files -->
	
</head>
<body>
	<!-- bootstrap container for page content -->
	<div class="container">
		<!-- Back Button, Username -->
		<div class="backandname">
			<button type="button" onclick="goBack()" id="back">Back</button> 
			<h1>Statistics</h1>
		</div>	
		<h3>Statistics</h3>
		<h4 id="statsmsg" style="display: none">No Stats yet. :( Try Connecting with Spotify first!</h4>
		<ul class="stats">
			{{#with statistics}}
				<li>Listening Time: {{listeningTime}} hours</li><br>
				<li>Most popular Genre: {{mostcommongenre}}</li><br>
				<li>Most common Decade: {{decade}}</li><br>
			{{/with}}	
		</ul>
		
		<!-- Navbar Section -->
		<ul class="navbar">
			<li><a href="/userprofile">Account</a></li>
			<li><a href='/Friends'>Friends</a></li>
			<li><a href="/Statistics" class="active">Statistics</a></li>
			<li><a href='/Favorites/page_A'>Favorites</a></li>
		</ul>
	</div>

	<!-- connected javascript files -->
	{{> footer}}
	<script>
		function goBack(){
			window.history.back();
		}
	</script>
	<script>
		(function () {
			//TODO: Samuel: Make an API call to get some stats. Use genres?

			//can use the same access_token!
			if (localStorage.getItem("access_token") == 'undefined') {
				//no data yet
				$('.stats').hide();
				$('#statsmsg').show();
			}
			else {
				console.log("Ready for API calls!");
				console.log(localStorage.getItem("access_token"));
				$.ajax({
					url: 'https://api.spotify.com/v1/me',
					headers: {
					'Authorization': 'Bearer ' + access_token
					},
					success: function(response) {
						console.log(response);
						//update the username, picture, linked account, and stats and favorites links
						$('.backandname h1').text(response.id);
						$('.pic-container a img').attr("src", response.images[0].url);
						$("#linkedaccounts li a").attr("href", response.external_urls.spotify);
						//$('#statslink').attr("href", "/statistics#" + access_token);
						//$('#favslink').attr("href", "/favorites#" + access_token);
						$("#linkedaccounts").show();
						$("#ConnectSpotify").hide();
					}
				});
			}
		})();
	</script>
</body>
</html>
