<html>
<head>
	<title>Team1 J. Smith Homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/userprofile.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<button type="button" onclick="goBack()" id="back">Back</button> 
		<h1 id="username">{{username}}</h1>	
		<hr>
		<img src="{{picture}}" id="profilepic">
		<ul class="genres">
			<li><a><h5>Favorite Genres</h5></a></li>
			<hr>
			<li><ul>
				<li><a>Genre 1</a></li>
				<li><a>Genre 2</a></li>
				<li><a>Genre 3</a></li>
			</ul></li>
			<hr>
			<li><ul>
				<li><a class="linked"><h7>Linked Accounts</h7></a></li>
				<li><a>Spotify</a></li>
				<li><a>Apple Music</a></li>
				<li><a>Pandora</a></li>
				<li><a>Soundcloud</a></li>
				<li><button type="button" id="addsource">Add</button></li>
			</ul></li>
		</ul>
		<hr>
		<h3>Statistics</h3>
		<ul class="stats">
			<li><h7>Stats 1</h7></li>
			<li><h7>Stats 2</h7></li>
			<li><h7>Stats 3</h7></li>
		</ul>
		<hr>
		<h3>Favorites</h3>
		<ul class="playlists">
			<ul>
				<li><a>Playlist 4</a></li>
				<li><a>Playlist 5</a></li>
				<li><a>Playlist 6</a></li>
			</ul>
			<ul>
				<li><a>Playlist 4</a></li>
				<li><a>Playlist 5</a></li>
				<li><a>Playlist 6</a></li>
			</ul>
		</ul>
		<hr>
		<ul class="navbar">
			<li><a href=#home>Home</a></li>
			<li><a href=#home class="active">Account</a></li>
			<li><a href=#home>Friends</a></li>
			<li><a href=#home>Discover</a></li>
		</ul>
	</div>

	<script src="/js/jquery-1.11.0.js"></script>	
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		function goBack(){
			window.history.back();
		}
	</script>
</body>
</html>
