h2{
    color:#ff0000;
}
.backandname p{
    color:#3CB371;
}
img{
    max-width:195px;
    max-height:195px;
}
.playlists {
    display: inline-table;
    padding: 2px 2px;
    border: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    list-style:none;
    text-align:center;
}

.row{
    position: relative;
    overflow:hidden;
    padding: 10px;
    margin: 5px;
    width: 100%;
    height:29%
}
.thumbnail{
    display:block;
    border-style:hidden;
    box-shadow:none;
    background-color: transparent;
    float:left;
    width:45%;
    text-align:center;
    height:28%;
    margin:5px;
    vertical-align:top;
}

.thumbnail span{
    position:absolute;
    bottom:0;
}

.playlists li {
    display: inline;
    border-bottom: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    border-bottom: 20px;
}

#playlistops {
    display: none;
}

#playlistops li {
    display: block;
    border-bottom: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    border-bottom: 20px;
}

#playlistops:target {
    display: inline-block;
    padding: 2px 2px;
    border: 1px solid rgb(10, 10, 10);
    border-width: 1px;
    list-style:none;
    text-align:left;
}

