.playlists {
    display: inline-table;
    padding: 2px 2px;
    border: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    list-style:none;
    text-align:center;
}

.playlists li {
    display: inline;
    border-bottom: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    border-bottom: 20px;
}

#playlistops {
    display: none;
}

#playlistops li {
    display: block;
    border-bottom: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    border-bottom: 20px;
}

#playlistops:target {
    display: inline-block;
    padding: 2px 2px;
    border: 1px solid rgb(10, 10, 10);
    border-width: 1px;
    list-style:none;
    text-align:left;
}

