#username {
    color: rgb(19, 17, 141);
    padding: 5px 100px;
    text-align: center;
    justify-content: left;
    display: inline-block;
}

#changepic {
    display: none;
}

#changepic button {
    text-align: center;
    text-decoration: none;
}

#changepic:target {
    display: inline-block;
}

#playlistops:target {
    display: inline-block;
    padding: 2px 2px;
    border: 1px solid rgb(10, 10, 10);
    border-width: 1px;
    list-style:none;
    text-align:left;
}

.profilepic {
    padding: 2px;
}

.genres {
    display: inline-table;
    padding: 20px;
    border: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    list-style:none;
    text-align:center;
}

.genres li {
    display: inline;
    border-bottom: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    border-bottom: 20px;
}   

.genres .linked {
    text-align: left;
    font: bold;
}

.stats {
    display: inline-table;
    padding: 2px;
    border: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    list-style:none;
    text-align:center;
}

.stats li {
    display: inline;
    border-bottom: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    border-bottom: 20px;
}

.playlists {
    display: inline-table;
    padding: 2px 2px;
    border: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    list-style:none;
    text-align:center;
}

.playlists li {
    display: inline;
    border-bottom: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    border-bottom: 20px;
}

#playlistops {
    display: none;
}

#playlistops li {
    display: block;
    border-bottom: 1px solid rgb(10, 10, 10);
    border-width: 2px;
    border-bottom: 20px;
}

#playlistops:target {
    display: inline-block;
    padding: 2px 2px;
    border: 1px solid rgb(10, 10, 10);
    border-width: 1px;
    list-style:none;
    text-align:left;
}

